body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

.mobile-imgs{
	display: none;
}

.top-nav{
	padding-left:0 !important;
	padding-right:0 !important;
    height: 88px;
    width: 100%;
    /*margin: 0 auto;
    position: fixed;
    z-index: 999999;*/
}

/*.nav-up {
    top: -88px;
}*/

.dropdown{
	display: none;
}

.hero{
 	background-image: url("../images/hero-simple-model.jpg");
 	background-size:1140px 240px;
 	width: 1140px;
 	height: 240px;
}

#margin-top-hero{
	margin-top:152px;
}


h2{
	margin-bottom: 24px;
}

ul{
	list-style: none;
}

ul.desktop-menu li {
	line-height: 56px;
}

.second-container{
	margin-top:56px;
	margin-bottom:56px;
}

ul.list-research{
	list-style-type: none;
}

.desktop-menu.fixed-side{
	position:fixed;
	top: 128px;
	width: 255px;
}

a.desktop-selected{
	border-bottom: 5px solid #FFED00;
}


a.desktop-selected:hover{
	text-decoration: none;
}

#fixed-topnav{
	position: fixed;
	z-index: 999999;
}


/*HACKATHON PAGE*/
img.img-hackathon{
	border-top:0.25rem solid black;
	width:100%;
	margin-bottom:16px;
}

@media (max-width: 375px) {
	.desktop-imgs{
		display: none;
	}

	.mobile-imgs{
		display: block;
	}

	.mobile-imgs img{
		width:100%;
	}

	ul.desktop-menu{
		display: none;
	}

	.col-md-3.no-padding-mobile{
		padding-left: 0;
		padding-right: 0;
	}

	.dropdown{
		display: inline-block;
		line-height: 56px;
		width: 100%;
		margin-bottom: 24px;
	}


	.dropdown .btn{
		width: 100%;
		text-align: left;
		background-color: #f2f2f2;
		border-radius:0;
		height:56px;
	}

	ul.dropdown-menu{
		width: 100%;
		margin-bottom: 24px;
		border-radius: 0;
		background-color: #f2f2f2;
		border: none;
		margin-top: 0px;
	}

	.dropdown-menu li{
		padding-left: 1rem;
		height: 56px;
		padding-top: 16px;
	}

	.dropdown.fixed {
		position:fixed;
		z-index: 999999;
		width:100%;
		margin-top: -173px;
	}

	.h5-black a{
		font-weight: 400;
	}

	.hero{
	 	background-image: url("../images/hero-simple-model-mob.jpg");
	 	background-size:320px 122px;
	 	width: 100%;
	 	height: 122px;
	}

	#margin-top-hero{
		margin-top: 8px;
	}

	.second-container {
    	margin-bottom: 24px;
   		margin-top: 0;
	}

	button .h5-black{
		display: inline;
		text-transform: none;
	}

	img.mobile-imgs{
		width: 100%;
	}

	.col-md-12.footer{
		padding-left: 0;
		padding-right: 0;
	}

	h2.mobile-selected{
		border-bottom: 5px solid #FFED00;
	}

	.dropdown.fixed .dropdown-menu{
		margin-top:-1px;
	}

	.margin-top-mob.fixed{
		margin-top:98px;
	}

	.mobile-inactive{
		color:#ccc;
	}

	.second-container{
		margin-bottom:48px;
	}

	.margin-top-mob{
		margin-top:0px;
	}

	.top-nav{
		height:49px;
		background-color:#B6D806;
	}

	#menu-mob{
		width: 24px;
		margin-top: 9px;
		margin-left: 15px;
		float:left;
	}

	#logo-mob{
		float: left;
		width: 25px;
		margin-top: 12px;
		margin-left: 20px;
	}

	#button-mob{
		width: 80px;
		float: right;
		margin-right: 15px;
		margin-top: 9px;
	}
}